@using MVC5Practice.Helpers
@model MVC5Practice.Models.ProductViewModel
@{
    ViewBag.Title = "JQueryUI";
}

<h2>JQueryUI</h2>
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        @using (Html.BeginForm("SaveProduct", "Test", null, FormMethod.Post, new {@class = "form-horizontal", role = "form"})) {
            <div class="form-group">
                @Html.FormTextBoxFor(m => m.ProductName, "focus")
                @Html.LabelFor(m => m.SellStartDate, new {@class = "col-md-2 control-label"})
                <div class="col-md-3">
                    @Html.TextBoxFor(m => m.SellStartDate, new { @class = "form-control datepicker" })
                    @Html.ValidationMessageFor(m => m.SellStartDate)
                </div>
            </div>
            <div class="form-group">
            </div>
            <button id="btnInsert" type="button" class="btn btn-success">Insert</button>
            @Html.ItemsTableFor("sampleTable", "Samples", Model.Samples, new [] {
                new ColumnDefinition("Product ID", "ProductId"){Readonly = true, SummaryMethod = "sum"}, 
                new ColumnDefinition("Product Name", "ProductName"), 
                new ColumnDefinition("Product Number", "ProductNumber"){Readonly = true}, 
                new ColumnDefinition("List Price", "ListPrice"){SummaryMethod = "sum"}, 
                new ColumnDefinition("Date", "Date"){ExtraClass = "datepicker"}, 
            })
            <button type="submit" class="btn btn-primary">Save</button>
        }
    </div>
</div>

@section scripts {
    <script src="/Scripts/pages/jQueryUI.js" type="text/javascript"></script>
    <script src="/Scripts/widgets/widget.js" type="text/javascript"></script>
    <script src="/Scripts/widgets/ItemsTable.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(function () {
            var table = new ItemsTable("#sampleTable");
            table.attachInsertButton("#btnInsert", function() {
                // Insert button call back function
                RegisterDatePickers();
            });
            table.RefreshSummary();
        });
    </script>
}